/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   box-sizing: border-box;
 }

body {
}

a {
   text-decoration: none;  /*リンク下の線を消す*/
}

button {
  outline: 0;    /* ボタンを押す際に発生するの青枠戦を消す */
  border: none;
}

.wrapper {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  height: 84%;
  width: 90%;
  overflow: scroll;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
}
